body {
    font-family: 'Poppins', sans-serif;
}

.card-body-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.title-head {
    color: #D51F32;
}

.title-text {
    font-size: 18px;
}

.card-body {
    justify-content: center;
    align-items: center;
}

.card-text {
    text-align: left;
}

.card-title {
    justify-content: left;
    text-align: left;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #002fff;
}

a {
    text-decoration: none;
}
.profile-card-img-top {
    width: 60%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 100px;
    z-index: 1;
}
  
.profile-card {
    padding: 6.5em 0.5em 0.5em;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}
  
.profile-card-title {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
    color: #002fff;
}
  
.profile-card-text {
    text-align: left;
}
  
.contact-text {
    text-align: left;
}
  
.btn-primary {
    border-radius: 2em;
}

.profile-holder {
    margin: -80px 0 0 0;
}
.view-all-button {
    border-radius: 2em;
}
.resources-bg {
    background-color: rgb(234, 235, 238);
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.blogs-bg {
    background-color: rgb(234, 235, 238);
}

footer {
    background-color: #121212;
    color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: aqua;
}

.footer-social {
    margin: 20px 0;
}
